{% include "partials/header.liquid" %}

<h1>{{ pokemonDetail.name | capitalize }}</h1>

<h2>About</h2>
    <h3>Name</h3>
    <h3>Id</h3>
    <h3>Base XP</h3>
    <h3>Weight</h3>
    <h3>Height</h3>
    <h3>Type</h3>
    <h3>Abilities</h3>

<h2>Stats</h2>
    <h3>HP</h3>
    <h3>Attack</h3>
    <h3>Defence</h3>
    <h3>Special attack</h3>
    <h3>Special defence</h3>
    <h3>Speed</h3>

<h2>Evolutions</h2>
