{% include "partials/header.liquid" %}


<h1>All pokemon</h1>

<input type="search" placeholder="search">

{% for pokemon in pokemonDetail %}
    <li>
      <a href="/{{ pokemon.name }}">{{ pokemon.name | capitalize }}</a>
      <img src="{{ pokemon.sprite }}" height="100" width="100" alt="{{ pokemon.name }}" >
    </li>
  {% endfor %}