body {
    font-family: 'Rubik', Verdana, sans-serif;

    /* @media (width > 750px) {
        display: flex;
    } */
}

/* MARK: header */
header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
    align-items: center;
}

.poke-logo {
    width: 370px;
}

/* pokemon search */
.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    height: 3rem;
    padding: 1em;
    border-radius: 1rem;
    background-color: var(--color-primary-daylight);
}

/* pokemon sort */
input[type="radio"] {
    appearance: none;
}

label:has(input[type="radio"]) {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    height: 3rem;
    padding: 1em;
    border-radius: 1rem;
    background-color: var(--color-primary-daylight);
}

label:has(input[type="radio"]:checked) {
    background-color: var(--color-primary-purple);
    color: #ffff;
}

/* MARK: main index */
.main-index {
    background-color: var(--color-primary-daylight);
}

.poke-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr));
    gap: .5em;
    padding: .5em;
}

li {
    list-style: none;
    width: 170px;
    height: 120px;
    padding: 1em;
    border-radius: 1em ;
    position: relative;
    background-color: pink;

    a {
        color: var(--color-primary-purple);
    }

    img {
        max-height: 100%;
        object-fit: contain;
        float: right;
        margin: .3em;
    }
}



/* MARK: main detail */