body {
    font-family: 'Rubik', Verdana, sans-serif;

    @media (width > 800px) {
        display: flex;
    }
}

/* MARK: header */
header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
    align-items: center;
}

.poke-logo {
    width: 370px;
}

/* pokemon search */
.search-bar {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 400px;
    height: 3rem;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--color-primary-daylight);
}

/* pokemon sort */
input[type="radio"] {
    appearance: none;
}

label:has(input[type="radio"]) {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 400px;
    height: 3em;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--color-primary-daylight);
}

label:has(input[type="radio"]:checked) {
    background-color: var(--color-primary-purple);
    color: #ffff;
}

.back-button {
    width: fit-content;
    padding: .5em;
    border-radius: 1em;
    background-color: var(--color-primary-purple);
    color: #ffff;
    font-size: var(--font-size-p-mobile);
}

/* MARK: main index */
.main-index {
    background-color: var(--color-primary-daylight);
}

.poke-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;

    @media (width > 800px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        /* grid-template-columns: repeat(auto-fill, minmax(min(170px, 100%), 1fr, 1fr, 1fr)); */
    }
}

.poke-link {
    list-style: none;
    width: 170px;
    height: 140px;
    padding: 1em;
    border-radius: 1em ;
    position: relative;
    background-color: pink;

    a {
        color: var(--color-primary-purple);
    }

    @media (width > 800px) {
        width: 265px;
        height: 220px;    
        /* transition: .2s; */
    }
}

.poke-sprite-home {
    max-height: 100%;
    object-fit: contain;
    float: right;
    margin: .3em;
    height: 80px;
    width:80px;


    @media (width > 800px) {
        height: 130px;
        width: 130px;   
        /* transition: .2s;  */
    }
}


/* MARK: main detail */
.tab-h2 {
    margin-left: 1em;
}

/* details info */
.poke-sprite-detail {
    height: 130px;
    width: 130px;

    @media (width > 800px) {
        width: 250px;
        height: 250px;   
        transition: .2s; 
    }

}

.details-grid {
        display: grid;
        grid-template-columns: fit-content 1fr;
        padding: 1.5em;
}

dt {
    line-height: 2.5;
    padding-inline: 1em;
    grid-column: 1 / 2;
    border-radius: 1em 0 0 1em;
    font-weight: 600;

    &:nth-of-type(odd) {
        background-color: pink;
    }
}

dd {
    line-height: 2.5;
    padding-inline: 1em;
    grid-column: 2 / 3;
    justify-self: end;
    text-align: end;
    width: 100%;
    border-radius: 0 1em 1em 0;

    &:nth-of-type(odd) {
        background-color: pink; 
    }
}

/* MARK: view transition */
@view-transition {
    navigation: auto;
}